* {

    text-align: left;
    color: black;
    text-decoration: none;
    margin: 0px auto 0px auto;
    padding: 0px 5px 0px 5px;

}

h1,h3{
    display: inline;
}

.wrapper {

    width: 500px;
    height: 670px;

}

ul li{
    list-style-type: none;
    float: left;
    display: inline;
    justify: space-between;
}
ul li a:hover, h3:hover{

    background-color: lightgrey;
    color: red;
    text-align: center;

}

form input, form textarea, form select, p{

    float: right;
    display: inline-block;
    margin: 0px;
    padding: 0px;

}

p {
    float: left;
    display: inline;
    margin-top: 20px;
    margin-bottom: 18px;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 2px;
}

textarea {
    width: 65%;
    display: inline-block;
    margin-right: 20px;
    float: right;
}

#submit {
    float: left;
    text-align: center;
    margin-bottom: 10px;
    
}

legend {
    
    display: block;
    border-style: ridge;
}

